h1 {
    text-align: center;
    color:rgba(230, 10, 10, 0.973);
    text-decoration:underline;
}
h2 {
    text-align: center;
    font-size: 12pt;
    color:rgba(30, 3, 180, 0.973);
    font-weight:bold;
    font-family:Arial;
}
body {
    background-color:#faaae6;
}
p {
    color:rgba(53, 7, 7, 0.973);
    font-style: italic;
    font-family:Arial;
    font-weight:bold;
}
.l2 {
    color:rgba(155, 18, 0, 0.973);
    text-decoration:underline;
}

#l1 {
    color:rgba(236, 47, 22, 0.973);
}










