h1 {
    text-align: center;
    color:rgba(0, 100, 182, 0.973);
    text-decoration:underline;
}
h2 {
    text-align: center;
    font-size: 12pt;
    color:rgba(231, 23, 221, 0.973);
    font-weight:bold;
    font-family:Arial;
}
body {
    background-color:#aca4aa;
}
#p1 {
    color:rgba(53, 7, 7, 0.973);
    font-style: italic;
    font-family:Arial;
    
}
#p2 {
    color:rgba(66, 4, 4, 0.973);
    font-style: italic;
    font-family:Arial;
    font-weight:bold;
}
#p3 {
    color:rgba(53, 7, 7, 0.973);
    font-style: italic;
    font-family:Arial;
    
}