#p1 {
    color:rgb(180, 5, 5);
    font-size: 3vw;
    text-align: center;
    font-style: italic;
    font-weight:bold;
    text-decoration:underline;
}
.p2 {
    color:rgb(223, 92, 5);
    font-size: 5vw;
    text-align: center;
}
li{
    color:rgb(180, 5, 5);
    font-size: 3vw;
    
}