   body {
        background-color:#bbdce4;
    }
    h1 {
        text-align: center;
        color:rgba(182, 0, 70, 0.973);
    }
    tr {
        color:rgba(61, 4, 94, 0.973);
        font-family:Arial;
        font-size: 15pt;
    }